on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - name: windows-x86_64
            platform: windows-latest
            target: x86_64-pc-windows-msvc
            bundles: [nsis]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install frontend dependencies
        run: npm ci

      - name: Build
        uses: tauri-apps/tauri-action@v0
        id: build
        with:
          args: >
            --target ${{ matrix.target }}
            --bundles ${{ join(matrix.bundles, ',') }}

      - name: Collect artifacts
        shell: python
        run: |
          import os
          import json
          import shutil

          os.makedirs('distrib', exist_ok=True)

          artifact_paths = '${{ steps.build.outputs.artifactPaths }}'.replace('\\', '\\\\')
          name = '${{ matrix.name }}'

          for artifact in json.loads(artifact_paths):
            filename = os.path.basename(artifact)
            sig_file = f'{artifact}.sig'

            if filename.endswith('.dmg'):
              shutil.move(artifact, os.path.join('distrib', f'cskburn-factory_{name}.dmg'))
            elif filename.endswith('.deb'):
              shutil.move(artifact, os.path.join('distrib', f'cskburn-factory_{name}.deb'))
            elif filename.endswith('-setup.exe'):
              shutil.move(artifact, os.path.join('distrib', f'cskburn-factory_{name}-setup.exe'))

      - name: Archive distributable
        uses: actions/upload-artifact@v4
        with:
          name: cskburn-factory_distrib_${{ github.run_id }}_${{ matrix.name }}
          path: distrib/

  publish-distribs:
    needs: build
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - name: Download distributables
        uses: actions/download-artifact@v4
        with:
          pattern: cskburn-factory_distrib_*
          path: distribs/
          merge-multiple: true

      - name: Upload assets to release
        uses: csexton/release-asset-action@v3
        with:
          pattern: distribs/*
          github-token: ${{ secrets.GITHUB_TOKEN }}
